@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #171717;
  --offwhite:#F8FBFC;
  --light:#DDDCDC;
  --purple:#5B58E6;
}


body {
  color: var(--black);
  background: var(--white);
 font-family: 'Poppins', sans-serif;
}
*::-webkit-scrollbar{
  width: 3px;
  background-color: white;
  border-radius: 99px;
  
}
*::-webkit-scrollbar-thumb{
  width: 20px;
  background-color: rgb(166, 163, 163);
  border-radius: 40px;
  height: 100px;
  
}
